.homeslide{
    display:flex;
    width: 50%;
    height: 250px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}   

.middlenavbar{
    margin-top: 10px;
    width: 100%;
    justify-content: space-around;
    background: rgb(210,20,20);
    background: linear-gradient(90deg, rgba(210,20,20,1) 0%, rgba(57,3,3,1) 100%);
    
}
.middleli{
    margin-left: 5px;
    width: 18%;
}

.dropdown-item{
    background-color: #F6F6F6;
}

.dropdowncolor .nabaritems{
    color: #F6F6F6;
}
.dropdowncolor:hover{
        color: rgb(210,20,20);
        background-color: #F6F6F6;
}
.dropdowncolor .nabaritems:hover{
    color: rgb(210,20,20);
    background-color: #F6F6F6;
}

.nav-link{
    color: rgb(210,20,20);  
}  


